<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt welcomeMessage}}</p>
        <p>Welcome to the home page</p>        
        {{> footer}}
    </body>
</html>