<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>We will be right bacl</h1>
        <p>The site is being updated.</p>
    </body>
</html>